# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# SQLite DB (if you don't want to commit)
db/
users.db

# Local environment / secrets
.env
